@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  display: block;
  width: 280px;
  padding: 12px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #e5ddd5;
}

.body {
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #3a3a3a;
}

.body .body-wrapper {
  margin: 10px 0;
  background-color: #ffffff;
}

.body li {
  list-style: none;
}

.page-header .page-header__logo {
  display: block;
  padding: 40px 25px;
  background-color: #242424;
  background-image: url(../img/logotype-mobile.svg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav .main-nav__toggle {
  display: none;
}

.main-nav .main-nav__list {
  padding: 0;
  margin-bottom: 16px;
}

.main-nav .site-list__item {
  display: none;
  background-color: #826550;
}

.main-nav .site-list__item--active {
  display: block;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.main-nav .site-list__item--active a:link,
.main-nav .site-list__item--active a:visited {
  color: #ffffff;
}

.main-nav .user-list__item {
  display: none;
}

.stats {
  margin-top: -16px;
}

.stats .stats__header {
  text-align: center;
}

.stats .stats__header .stats__slogan {
  display: inline-block;
  margin: 25px 0 18px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.stats .stats__header .stats__intro {
  font-size: 20px;
  margin: 0 0 28px;
  line-height: 27px;
  letter-spacing: -1px;
}

.stats .stats__header .stats__legend--top {
  display: none;
}

.stats .stats__list {
  display: block;
  margin-left: -2px;
  color: #ffffff;
}

.stats .stats__list tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  width: 320px;
  padding: 20px;
}

.stats .stats__list tr:nth-of-type(1) {
  background-color: #404040;
}

.stats .stats__list tr:nth-of-type(3) {
  background-color: #353535;
}

.stats .stats__list tr:nth-of-type(4) .stats__value {
  margin-top: -15px;
}

.stats .stats__list tr:nth-of-type(4) .stats__field {
  width: 130px;
}

.stats .stats__list tr:nth-of-type(even) {
  background-color: #4e4e4e;
}

.stats .stats__list .stats__value {
  font-size: 40px;
  line-height: 18px;
  font-weight: 700;
}

.stats .stats__list td {
  text-align: end;
}

.stats .stats__list .stats__field {
  font-size: 18px;
  line-height: 18px;
}

.stats .stats__legend {
  display: block;
  font-size: 20px;
  line-height: 27px;
  color: #4e4e4e;
  text-align: center;
}

.stats .stats__legend.stats__legend--bottom {
  margin-top: -3px;
  padding-bottom: 35px;
  background-color: #242424;
}

.advantages {
  padding: 0 0 28px;
  text-align: center;
  color: #ffffff;
}

.advantages .slider {
  background-color: #242424;
  padding: 0 0 32px;
}

.advantages .slider .slider__item {
  display: none;
  position: relative;
  padding-top: 30px;
}

.advantages .slider .advantages__item--fast {
  display: block;
}

.advantages .advantages__title {
  padding: 28px 0 18px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.advantages .advantages__description {
  padding: 0 50px 28px;
  font-size: 20px;
  line-height: 27px;
}

.news .news__title {
  padding: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.news .news__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 18px;
}

.news .news__item .news__date {
  margin: 12px 20px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.news .news__item .news__day {
  font-size: 30px;
  line-height: 30px;
}

.news .news__item .news__text {
  margin: 0 20px 0;
  font-size: 18px;
  line-height: 27px;
}

.news .news__to-all.button {
  margin: 32px auto;
  color: #000000;
}

.reviews .reviews__title {
  padding: 28px 0 0;
  margin: 0 0 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  border-top: 1px solid #e5ddd5;
}

.reviews .reviews__write {
  display: none;
}

.reviews .reviews__list > blockquote:nth-child(n+2) {
  display: none;
}

.reviews .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 18px;
}

.reviews .reviews__item .reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  font-style: normal;
}

.reviews .reviews__item .reviews__text {
  display: inline-block;
  font-size: 18px;
  line-height: 27px;
}

.reviews .reviews__item .reviews__author-container {
  margin-left: 20px;
}

.page-footer {
  color: #ffffff;
  background-color: #292929;
  border: 1px solid #353535;
}

.page-footer .contacts {
  text-align: center;
}

.page-footer .contacts .contacts__title {
  display: block;
  margin: 36px 0 18px 0;
  font-size: 18px;
  font-weight: 700;
}

.page-footer .contacts .contacts__text {
  padding: 0 50px;
  font-size: 18px;
  line-height: 1.5;
}

.page-footer .contacts .contacts__phone {
  margin: 20px auto 25px;
  color: #ffffff;
  border: 1px solid #353535;
}

.social .social__title {
  display: none;
}

.social .social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
  text-align: center;
  border-top: 1px solid #3e3e3e;
  border-bottom: 1px solid #3e3e3e;
}

.social .social__list .social__item {
  width: 33%;
  padding: 35px;
}

.social .social__list .social__item:nth-child(2) {
  border-right: 1px solid #3e3e3e;
  border-left: 1px solid #3e3e3e;
}

.social .social__link {
  color: #ffffff;
  display: none;
}

.copyright .copyright__text {
  display: block;
  margin: 0 auto 13px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  text-align: center;
}

.copyright .copyright__link {
  margin: 0 auto 20px;
  color: #ffffff;
  border: 1px solid #353535;
}

.portfolio {
  width: 280px;
  padding: 0 0 55px;
  margin: 0 auto;
}

.portfolio .portfolio__name {
  display: inline-block;
  margin: 24px;
  font-size: 24px;
  line-height: 27px;
}

.portfolio .portfolio__review {
  margin: 0 24px 15px;
  font-size: 18px;
  line-height: 27px;
}

.portfolio .portfolio__list {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 27px;
}

.portfolio .portfolio__list .portfolio__options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio__list .portfolio__options:first-child {
  margin-left: 22px;
}

.portfolio .portfolio__list .portfolio__options:nth-child(2) {
  margin-left: 30px;
}

.portfolio .portfolio__list .portfolio__options:nth-child(3) {
  margin-left: 10px;
}

.portfolio .portfolio__list .portfolio__options--img-scissors {
  margin-right: 15px;
  background: url("../img/scissors-icon.png");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
}

.portfolio .portfolio__list .portfolio__options--img-beard {
  margin-right: 20px;
  background: url("../img/beard-icon.png");
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
}

.portfolio .portfolio__list .portfolio__options--img-mustache {
  margin-right: 10px;
  background: url("../img/mustache-icon.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 12px;
}

.portfolio .portfolio__petr {
  position: relative;
  margin: 0 0 20px;
  border: 1px solid #e5ddd5;
}

.portfolio .portfolio__petr .portfolio__img-1 {
  margin-left: -1px;
  margin-top: -1px;
}

.portfolio .portfolio__petr .portfolio__petr-month-work {
  position: absolute;
  top: 399px;
  left: 0px;
  padding: 16px 25px;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  background-color: #826550;
}

.portfolio .portfolio__alex {
  margin: 0 0 20px;
  border: 1px solid #e5ddd5;
}

.portfolio .portfolio__alex .portfolio__img-2 {
  margin-left: -1px;
  margin-top: -1px;
}

.portfolio .portfolio__vova {
  margin: 0 0 20px;
  border: 1px solid #e5ddd5;
}

.portfolio .portfolio__vova .portfolio__img-3 {
  margin-left: -1px;
  margin-top: -1px;
}

.portfolio .portfolio__winston {
  margin: 0 0 20px;
  border: 1px solid #e5ddd5;
}

.portfolio .portfolio__winston .portfolio__img-4 {
  margin-left: -1px;
  margin-top: -1px;
}

.price {
  padding: 35px 0;
  color: #ffffff;
  background-color: #353535;
}

.price .price__title {
  display: block;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.price .price__list {
  margin: 0 20px;
  font-size: 20px;
}

.price .price__list .price__haircut-name {
  line-height: 30px;
  font-weight: 700;
}

.price .price__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price .price__option-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.price .price__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  margin: 0 25px;
  border: 1px solid #484848;
}

.price .price__discount .price__clock {
  margin-right: 35px;
}

.price .price__discount .price__hours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 27px;
}

.page-main {
  background-color: #f8f5f2;
}

.form {
  width: 280px;
  margin: 0 auto 40px;
}

.form .form__form-title {
  padding: 25px 0 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.form .form__item-3 {
  margin-bottom: 20px;
}

.form .form__item-5 {
  margin-bottom: 20px;
}

.form .form__item-6 input[type=text] {
  padding: 5px 0 75px 15px;
}

.form input[type=text] {
  width: 280px;
  padding: 5px 0 5px 15px;
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}

.form input[type=text]::-webkit-input-placeholder {
  color: #000000;
}

.form input[type=text]::-moz-placeholder {
  color: #000000;
}

.form input[type=text]:-ms-input-placeholder {
  color: #000000;
}

.form input[type=text]::-ms-input-placeholder {
  color: #000000;
}

.form input[type=text]::placeholder {
  color: #000000;
}

.form input[type=number] {
  width: 280px;
  padding: 5px 0 5px 15px;
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}

.form input[type=number]::-webkit-input-placeholder {
  color: #000000;
}

.form input[type=number]::-moz-placeholder {
  color: #000000;
}

.form input[type=number]:-ms-input-placeholder {
  color: #000000;
}

.form input[type=number]::-ms-input-placeholder {
  color: #000000;
}

.form input[type=number]::placeholder {
  color: #000000;
}

.form input[type=email] {
  width: 280px;
  padding: 5px 0 5px 15px;
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5ddd5;
}

.form input[type=email]::-webkit-input-placeholder {
  color: #000000;
}

.form input[type=email]::-moz-placeholder {
  color: #000000;
}

.form input[type=email]:-ms-input-placeholder {
  color: #000000;
}

.form input[type=email]::-ms-input-placeholder {
  color: #000000;
}

.form input[type=email]::placeholder {
  color: #000000;
}

.beard-style .beard-style__title {
  margin-bottom: 35px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.beard-style .beard-style__list {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 40px;
  font-size: 18px;
}

.beard-style .beard-style__item--active {
  margin-bottom: 50px;
}

.beard-style .beard-style__item--active span {
  position: relative;
}

.beard-style .beard-style__item--active span::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 28%;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #e7dfd8;
  border-radius: 50%;
}

.beard-style span {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 2px solid #f0ebe6;
  border-radius: 50%;
}

.beard-style li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  text-align: center;
}

.beard-style img {
  margin-top: 15px;
}

.additional-services .additional-services__title {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}

.additional-services .additional-services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  line-height: 30px;
}

.additional-services .additional-services__list .additional-services__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.additional-services .additional-services__checkbox {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  background-color: #fff;
  border: 2px solid #e7dfd8;
}

.additional-services .additional-services__checkbox--active {
  position: relative;
}

.additional-services .additional-services__checkbox--active::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 21px;
  width: 12px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.additional-services .additional-services__checkbox--active::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 18px;
  width: 22px;
  height: 2px;
  background: #000;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.additional-services .additional-services__button {
  margin: 20px auto 50px;
  color: #ffffff;
  background-color: #826550;
}

@media (min-width: 768px) {
  .body {
    width: 768px;
    position: relative;
  }

  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 470px;
    background-image: url(../img/back-tablet.jpg);
    background-size: 769px 454px;
  }

  .page-header .page-header__logo {
    padding: 150px 45px;
    margin-top: 10px;
    background-color: transparent;
    background-image: url(../img/logotype-tablet.png);
    background-size: 370px 101px;
    background-position: center 35px;
    background-repeat: no-repeat;
  }

  .main-nav {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .main-nav .main-nav__wrapper {
    padding: 0 60px;
    background-color: #000000;
  }

  .main-nav .site-list__item {
    display: block;
    background-color: #000000;
  }

  .main-nav .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }

  .main-nav .site-list__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
  }

  .main-nav .site-list__item a:link,
  .main-nav .site-list__item a:visited {
    color: #ffffff;
  }

  .stats {
    background-color: #353535;
  }

  .stats .stats__header {
    position: absolute;
    top: 269px;
    left: 64px;
    width: 640px;
    padding: 40px 40px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #ffffff;
  }

  .stats .stats__header .stats__slogan {
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
    margin: 0;
    margin-left: -50px;
    text-transform: none;
  }

  .stats .stats__header .stats__intro {
    -ms-flex-preferred-size: 180px;
        flex-basis: 180px;
    margin: 0;
    text-align: left;
  }

  .stats .stats__header .stats__legend--top {
    display: block;
    -ms-flex-preferred-size: 280px;
        flex-basis: 280px;
    margin-left: -50px;
  }

  .stats .stats__list {
    width: 640px;
    margin: auto;
    margin-top: -2px;
  }

  .stats .stats__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .stats .stats__list tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 160px;
  }

  .stats .stats__list tr:nth-of-type(2) .stats__value {
    padding-top: 10px;
  }

  .stats .stats__list tr:nth-of-type(4) {
    background-color: #404040;
  }

  .stats .stats__list tr:nth-of-type(4) .stats__value {
    padding-top: 4px;
  }

  .stats .stats__list tr:nth-of-type(4) .stats__field {
    width: auto;
  }

  .stats .stats__legend--bottom {
    display: none;
  }

  .advantages .slider .slider__item {
    display: block;
    position: relative;
    width: 450px;
    text-align: start;
    padding: 0;
    margin-left: 210px;
  }

  .advantages .slider .advantages__item--fast .advantages__item-image {
    position: absolute;
    top: 32px;
    left: -130px;
  }

  .advantages .slider .advantages__item--cool::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -146px;
    width: 640px;
    height: 1px;
    background-color: #4a4a4a;
  }

  .advantages .slider .advantages__item--cool::after {
    content: "";
    position: absolute;
    top: 146px;
    left: -146px;
    width: 640px;
    height: 1px;
    background-color: #4a4a4a;
  }

  .advantages .slider .advantages__item--cool .advantages__item-image {
    position: absolute;
    top: 32px;
    left: -130px;
  }

  .advantages .slider .advantages__item--price .advantages__item-image {
    position: absolute;
    top: 32px;
    left: -130px;
  }

  .advantages .slider .advantages__description {
    padding: 0;
  }

  .advantages .advantages__toggles {
    display: none;
  }

  .news {
    position: relative;
  }

  .news .news__wrapper {
    padding: 40px 64px;
  }

  .news .news__title {
    margin-right: 380px;
    padding-bottom: 60px;
    text-transform: uppercase;
  }

  .news .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .news .news__item:nth-of-type(3) {
    display: none;
  }

  .news .news__to-all {
    width: 170px;
    position: absolute;
    top: 0px;
    left: 520px;
  }

  .reviews {
    padding-bottom: 60px;
    position: relative;
  }

  .reviews .reviews__wrapper {
    padding: 20px 64px;
  }

  .reviews .reviews__title {
    margin-right: auto;
    width: 260px;
    text-transform: uppercase;
    border: none;
  }

  .reviews .reviews__title::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    background-color: #e5ddd5;
    width: 768px;
    height: 1px;
    display: block;
  }

  .reviews .reviews__list {
    padding: 20px 30px;
  }

  .reviews .reviews__write {
    display: block;
    width: 170px;
    position: absolute;
    top: 40px;
    left: 520px;
    color: #000000;
  }

  .reviews .reviews__item {
    padding: 0;
  }

  .reviews .reviews__item .reviews__author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .reviews .reviews__list {
    width: 640px;
    margin: auto;
    border: 1px solid grey;
  }

  .page-footer {
    position: relative;
  }

  .page-footer .contacts {
    text-align: left;
  }

  .page-footer .contacts.page-footer__contacts {
    margin-left: 64px;
  }

  .page-footer .contacts .contacts__text {
    padding: 0;
  }

  .page-footer .contacts .contacts__phone {
    border: none;
    margin: 0;
    text-align: left;
  }

  .page-footer .page-footer__social {
    width: 640px;
    margin: auto;
  }

  .page-footer .page-footer__copyright {
    position: absolute;
    top: 33px;
    left: 430px;
  }

  .social .social__list .social__item {
    min-height: 109px;
  }

  .social .social__list .social__item:nth-child(1) {
    border-left: 1px solid #3e3e3e;
  }

  .social .social__list .social__item:nth-child(3) {
    border-right: 1px solid #3e3e3e;
  }

  .page-header--portfolio {
    background-image: url(../img/back-tablet-portfolio.jpg);
    background-size: 768px 300px;
    background-repeat: no-repeat;
    min-height: 300px;
  }

  .page-header--portfolio .page-header__logo {
    padding: 100px 0px;
  }

  .portfolio {
    width: 640px;
  }

  .portfolio .portfolio__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .portfolio .portfolio-description__container {
    width: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .portfolio .portfolio__alex .portfolio__img-2 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .body {
    width: 1200px;
  }

  .page-header {
    min-height: 720px;
    background-image: url(../img/back-desktop.jpg);
    background-size: 1200px 670px;
    background-position-y: 40px;
  }

  .page-header .page-header__logo {
    background-image: url(../img/logotype-desktop.png);
    background-size: 370px 153px;
  }

  .stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .stats .stats__header {
    position: absolute;
    top: 545px;
    left: 120px;
    width: 320px;
    height: 320px;
  }

  .stats .stats__list {
    position: absolute;
    top: 545px;
    right: 120px;
    margin: 0;
  }

  .advantages .slider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 260px 0 90px;
    margin: 0 120px;
  }

  .advantages .slider__list .slider__item {
    padding: 0 40px;
    margin: 0;
    text-align: center;
  }

  .advantages .slider__list .slider__item .advantages__item-image {
    position: static;
  }

  .advantages .slider__list .advantages__item--cool {
    border-left: 1px solid #4a4a4a;
    border-right: 1px solid #4a4a4a;
  }

  .advantages .slider__list .advantages__item--cool::before {
    content: none;
  }

  .advantages .slider__list .advantages__item--cool::after {
    content: none;
  }

  .news .news__wrapper {
    padding: 40px 120px;
  }

  .news .news__title {
    margin-right: auto;
    width: 290px;
  }

  .news .news__item:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .news .news__to-all {
    left: 900px;
  }

  .reviews .reviews__wrapper {
    padding: 20px 120px;
  }

  .reviews .reviews__title {
    margin-right: auto;
    width: 260px;
  }

  .reviews .reviews__title::before {
    width: 1200px;
  }

  .reviews .reviews__list {
    width: 960px;
    padding: 0;
  }

  .reviews .reviews__write {
    top: 35px;
    left: 900px;
  }

  .reviews .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }

  .reviews .reviews__item .reviews__author-image {
    width: 249px;
    height: 160px;
    margin-right: 60px;
    border-radius: 0;
  }

  .reviews .reviews__item .reviews__author-name {
    padding-bottom: 10px;
  }

  .reviews .reviews__item .reviews__text {
    margin: 0;
  }

  .reviews .reviews__item .reviews__author-container {
    width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 50px;
  }

  .reviews .reviews__prev {
    display: none;
  }

  .reviews .reviews__next {
    display: none;
  }

  .page-footer .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 20px 120px;
  }

  .page-footer .contacts.page-footer__contacts {
    margin: 0;
  }

  .page-footer .page-footer__social {
    margin: 0;
    margin: 0 40px;
  }

  .page-footer .page-footer__copyright {
    position: static;
  }

  .social .social__title {
    display: block;
    width: 90px;
    margin: 0 auto 20px;
  }

  .social .social__list {
    margin: 0;
  }
}