@import "nullstyle.scss";

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

$color_1: #ffffff;
$fs_big: 30px;
$lh_big: 30px;
$fw_bold: 700;

.button {
  display: block;
  width: 280px;
  padding: 12px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: $fw_bold;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #e5ddd5;
}

.body {
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "PT Sans Narrow", sans-serif;
  background-color: rgb(58, 58, 58);
  // letter-spacing: -1px;
  .body-wrapper {
    // overflow: hidden;
    margin: 10px 0;
    background-color: $color_1;
  }
  li {
    list-style: none;
  }
}

@media (min-width: 768px) {
  .body {
    width: 768px;
    position: relative;
  }
}

.page-header {
  .page-header__logo {
    display: block;
    padding: 40px 25px;
    background-color: #242424;
    background-image: url(../img/logotype-mobile.svg.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 470px;
    background-image: url(../img/back-tablet.jpg);
    background-size: 769px 454px;
    .page-header__logo {
      padding: 150px 45px;
      margin-top: 10px;
      background-color: transparent;
      background-image: url(../img/logotype-tablet.png);
      background-size: 370px 101px;
      background-position: center 35px;
      background-repeat: no-repeat;
    }
  }
}
.main-nav {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    padding: 0;
    margin-bottom: 16px;
  }
  .site-list__item {
    display: none;
    background-color: #826550;
  }
  .site-list__item--active {
    display: block;
    padding: 12px 0;
    font-size: 18px;
    font-weight: $fw_bold;
    line-height: 24px;
    text-align: center;
    color: $color_1;
    a {
      &:link,
      &:visited {
        color: $color_1;
      }
    }
  }
  .user-list__item {
    display: none;
  }
}

@media (min-width: 768px) {
  .main-nav {
    order: -1;
    .main-nav__wrapper {
      padding: 0 60px;
      background-color: #000000;
    }
    .site-list__item {
      display: block;
      background-color: #000000;
    }
    .main-nav__list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
    }
    .site-list__item {
      flex-grow: 1;
      padding: 12px 0;
      // margin-bottom: 16px;
      font-size: 18px;
      font-weight: $fw_bold;
      line-height: 24px;
      text-align: center;
      color: $color_1;
      a {
        &:link,
        &:visited {
          color: $color_1;
        }
      }
    }
  }
}

.stats {
  margin-top: -16px;
  .stats__header {
    text-align: center;
    .stats__slogan {
      display: inline-block;
      margin: 25px 0 18px;
      font-size: $fs_big;
      font-weight: $fw_bold;
      line-height: $lh_big;
      text-transform: uppercase;
    }
    .stats__intro {
      font-size: 20px;
      margin: 0 0 28px;
      line-height: 27px;
      letter-spacing: -1px;
    }
    .stats__legend--top {
      display: none;
    }
  }
  .stats__list {
    display: block;
    margin-left: -2px;
    color: $color_1;
    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 80px;
      width: 320px;
      padding: 20px;
      &:nth-of-type(1) {
        background-color: #404040;
      }
      &:nth-of-type(3) {
        background-color: #353535;
      }
      &:nth-of-type(4) {
        .stats__value {
          margin-top: -15px;
        }
        .stats__field {
          width: 130px;
        }
      }
      &:nth-of-type(even) {
        background-color: #4e4e4e;
      }
    }
    .stats__value {
      font-size: 40px;
      line-height: 18px;
      font-weight: $fw_bold;
    }
    td {
      text-align: end;
    }
    .stats__field {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .stats__legend {
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #4e4e4e;
    text-align: center;
    &.stats__legend--bottom {
      margin-top: -3px;
      background-color: #242424;
    }
  }
}

@media (min-width: 768px) {
  .stats {
    background-color: #353535;
    .stats__header {
      position: absolute;
      top: 270px;
      left: 64px;
      width: 640px;
      padding: 40px 40px 30px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      background-color: #ffffff;
      .stats__slogan {
        flex-basis: 280px;
        margin: 0;
        margin-left: -50px;
        text-transform: none;
      }
      .stats__intro {
        flex-basis: 180px;
        margin: 0;
      }
      .stats__legend--top {
        display: block;
        flex-basis: 280px;
        margin-left: -50px;
      }
    }
    .stats__list {
      width: 640px;
      margin: auto;
      tbody {
        display: flex;
        flex-wrap: wrap;
      }
      tr {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        min-height: 160px;
        &:nth-of-type(2) {
          .stats__value {
            padding-top: 10px;
          }
        }
        &:nth-of-type(4) {
          background-color: #404040;
          .stats__value {
            padding-top: 4px;
          }
          .stats__field {
            width: auto;
          }
        }
      }
    }
    .stats__legend--bottom {
      display: none;
    }
  }
}

.advantages {
  padding: 0 0 28px;
  text-align: center;
  color: $color_1;
  .slider {
    background-color: #242424;
    padding: 0 0 32px;
    .slider__item {
      display: none;
    }
    .advantages__item--fast {
      display: block;
    }
  }
  .advantages__title {
    padding: 28px 0 18px;
    font-size: $fs_big;
    font-weight: $fw_bold;
    line-height: $lh_big;
  }
  .advantages__description {
    padding: 0 50px 28px;
    font-size: 20px;
    line-height: 27px;
  }
}

.news {
  .news__title {
    padding: 0 0 30px;
    font-size: $fs_big;
    line-height: $lh_big;
    font-weight: $fw_bold;
    text-align: center;
  }
  .news__item {
    display: flex;
    padding: 0 0 18px;
    .news__date {
      margin: 12px 20px;
      font-size: 13px;
      font-weight: $fw_bold;
      text-align: center;
    }
    .news__day {
      font-size: $fs_big;
      line-height: $lh_big;
    }
    .news__text {
      margin: 0 20px 0;
      font-size: 18px;
      line-height: 27px;
    }
  }
  .news__to-all {
    &.button {
      margin: 32px auto;
      color: #000000;
    }
  }
}

.reviews {
  .reviews__title {
    padding: 28px 0 0;
    margin: 0 0 30px;
    font-size: $fs_big;
    line-height: $lh_big;
    font-weight: $fw_bold;
    text-align: center;
    border-top: 1px solid #e5ddd5;
  }
  .reviews__write {
    display: none;
  }
  .reviews__list > blockquote:nth-child(n + 2) {
    display: none;
  }
  .reviews__item {
    margin: 0 0 28px;
    .reviews__author-picture {
      display: inline-block;
      margin: 5px 20px;
    }
    .reviews__author-name {
      font-size: 24px;
      line-height: 27px;
      font-weight: $fw_bold;
      font-style: normal;
    }
    .reviews__text {
      display: inline-block;
      padding-right: 35px;
      margin-left: 94px;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.page-footer {
  color: $color_1;
  background-color: #292929;
  border: 1px solid #353535;
  .contacts {
    text-align: center;
    .contacts__title {
      display: block;
      margin: 36px 0 18px 0;
      font-size: 18px;
      font-weight: $fw_bold;
    }
    .contacts__text {
      padding: 0 50px;
      font-size: 18px;
      line-height: 1.5;
    }
    .contacts__phone {
      margin: 20px auto 25px;
      color: $color_1;
      border: 1px solid #353535;
    }
  }
}

.social {
  .social__title {
    display: none;
  }
  .social__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 28px;
    text-align: center;
    border-top: 1px solid #3e3e3e;
    border-bottom: 1px solid #3e3e3e;
    .social__item {
      width: 33%;
      padding: 35px;
      &:nth-child(2) {
        border-right: 1px solid #3e3e3e;
        border-left: 1px solid #3e3e3e;
      }
    }
  }
  .social__link {
    color: $color_1;
    display: none;
  }
}

.copyright {
  .copyright__text {
    display: block;
    margin: 0 auto 13px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
  }
  .copyright__link {
    margin: 0 auto 20px;
    color: $color_1;
    border: 1px solid #353535;
  }
}

// Стили страницы портфолио

.portfolio {
  width: 280px;
  padding: 0 0 55px;
  margin: 0 auto;
  .portfolio__name {
    display: inline-block;
    margin: 24px;
    font-size: 24px;
    line-height: 27px;
  }
  .portfolio__review {
    margin: 0 24px 15px;
    font-size: 18px;
    line-height: 27px;
  }
  .portfolio__list {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 27px;
    .portfolio__options {
      display: inline-flex;
      align-items: center;
      &:first-child {
        margin-left: 22px;
      }
      &:nth-child(2) {
        margin-left: 30px;
      }
      &:nth-child(3) {
        margin-left: 10px;
      }
    }
    .portfolio__options--img-scissors {
      margin-right: 15px;
      background: url("../img/scissors-icon.png");
      background-repeat: no-repeat;
      width: 21px;
      height: 20px;
    }
    .portfolio__options--img-beard {
      margin-right: 20px;
      background: url("../img/beard-icon.png");
      background-repeat: no-repeat;
      width: 23px;
      height: 21px;
    }
    .portfolio__options--img-mustache {
      margin-right: 10px;
      background: url("../img/mustache-icon.png");
      background-repeat: no-repeat;
      width: 45px;
      height: 12px;
    }
  }
  .portfolio__petr {
    position: relative;
    margin: 0 0 20px;
    border: 1px solid #e5ddd5;
    .portfolio__img-1 {
      margin-left: -1px;
      margin-top: -1px;
    }
    .portfolio__petr-month-work {
      position: absolute;
      top: 399px;
      left: 0px;
      padding: 16px 25px;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      background-color: #826550;
    }
  }
  .portfolio__alex {
    margin: 0 0 20px;
    border: 1px solid #e5ddd5;
    .portfolio__img-2 {
      margin-left: -1px;
      margin-top: -1px;
    }
  }
  .portfolio__vova {
    margin: 0 0 20px;
    border: 1px solid #e5ddd5;
    .portfolio__img-3 {
      margin-left: -1px;
      margin-top: -1px;
    }
  }
  .portfolio__winston {
    margin: 0 0 20px;
    border: 1px solid #e5ddd5;
    .portfolio__img-4 {
      margin-left: -1px;
      margin-top: -1px;
    }
  }
}

.price {
  padding: 35px 0;
  color: #ffffff;
  background-color: #353535;
  .price__title {
    display: block;
    padding-bottom: 35px;
    font-size: $fs_big;
    line-height: $lh_big;
    font-weight: $fw_bold;
    text-align: center;
  }
  .price__list {
    margin: 0 20px;
    font-size: 20px;
    .price__haircut-name {
      line-height: $lh_big;
      font-weight: $fw_bold;
    }
  }
  .price__type {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .price__option-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .price__discount {
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 0 25px;
    border: 1px solid #484848;
    .price__clock {
      margin-right: 35px;
    }
    .price__hours {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 20px;
      line-height: 27px;
    }
  }
}

// Стили страницы формы

.page-main {
  background-color: #f8f5f2;
  // margin: 0 auto;
}
.form {
  width: 280px;
  margin: 0 auto 40px;
  // font-size: 20px;
  .form__form-title {
    padding: 25px 0 25px;
    font-size: $fs_big;
    line-height: $lh_big;
    font-weight: $fw_bold;
    text-align: center;
  }
  .form__item-3 {
    margin-bottom: 20px;
  }
  .form__item-5 {
    margin-bottom: 20px;
  }
  .form__item-6 {
    & input[type="text"] {
      padding: 5px 0 75px 15px;
    }
  }
  input[type="text"] {
    width: 280px;
    padding: 5px 0 5px 15px;
    margin: 0 0 5px;
    font-size: 18px;
    // font-weight: $fw_bold;
    line-height: $lh_big;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
    &::placeholder {
      color: #000000;
    }
  }
  input[type="number"] {
    width: 280px;
    padding: 5px 0 5px 15px;
    margin: 0 0 5px;
    font-size: 18px;
    // font-weight: $fw_bold;
    line-height: $lh_big;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
    &::placeholder {
      color: #000000;
    }
  }
  input[type="email"] {
    width: 280px;
    padding: 5px 0 5px 15px;
    margin: 0 0 5px;
    font-size: 18px;
    // font-weight: $fw_bold;
    line-height: $lh_big;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
    &::placeholder {
      color: #000000;
    }
  }
}

.beard-style {
  .beard-style__title {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .beard-style__list {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto 40px;
    font-size: 18px;
  }
  .beard-style__item--active {
    // position: relative;
    margin-bottom: 50px;
    span {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 30%;
        left: 28%;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border: 2px solid #e7dfd8;
        border-radius: 50%;
      }
    }
  }
  & span {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 2px solid #f0ebe6;
    border-radius: 50%;
  }
  & li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    text-align: center;
  }
  & img {
    margin-top: 15px;
  }
}

.additional-services {
  .additional-services__title {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
  }
  .additional-services__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: $lh_big;
    .additional-services__item {
      display: inline-flex;
      margin: 0 0 20px;
      align-items: center;
    }
  }
  .additional-services__checkbox {
    width: 40px;
    height: 40px;
    margin: 0 20px;
    background-color: #fff;
    border: 2px solid #e7dfd8;
  }
  .additional-services__checkbox--active {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 5px;
      top: 21px;
      width: 12px;
      height: 2px;
      background: #000;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      left: 11px;
      top: 18px;
      width: 22px;
      height: 2px;
      background: #000;
      transform: rotate(-45deg);
    }
  }
  .additional-services__button {
    margin: 20px auto 50px;
    color: #ffffff;
    background-color: #826550;
  }
}
